<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/metisMenu.min.css" rel="stylesheet">
    <link href="/css/timeline.css" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link href="/css/morris.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/cms.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin">admin</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <li><a href="/admin/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i>CMS<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin/cms/">{{f0}}</a>
                            </li>
                            <li>
                                <a href="#">{{f1}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/1/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/1/1">{{s10}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/1/2">{{s11}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/1/3">{{s12}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{{f2}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/2/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/2/1">{{s20}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/2/2">{{s21}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/2/3">{{s22}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/2/4">{{s23}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{{f3}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/3/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/3/1">{{s30}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/3/2">{{s31}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/3/3">{{s32}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{{f4}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/4/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/4/1">{{s40}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/4/2">{{s41}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/4/3">{{s42}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/4/4">{{s43}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{{f5}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/5/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/5/1">{{s50}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/5/2">{{s51}}</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/5/3">{{s52}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">{{f6}}<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/admin/cms/6/0">背景</a>
                                    </li>
                                    <li>
                                        <a href="/admin/cms/6">信息</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/admin/newsManage/"><i class="fa fa-sitemap fa-fw"></i>资讯管理</a>
                    </li>
                    <li>
                        <a href="/admin/exhibit/"><i class="fa fa-sitemap fa-fw"></i>藏品管理</a>
                    </li>
                    <li>
                        <a href="/admin/updatePasswd/"><i class="fa fa-sitemap fa-fw"></i>修改用户名密码</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><div class="enable-modify-s" v1="header_type" v2="{{slides.id}}" v3="id" v4="name">{{header_type}}</div></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{title}}
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    操作<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#modal-upload-image">
                                            上传图片
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="title-edit">名称</label>
                                <input id="title-edit" type="text" class="form-control" value="{{title}}">
                            </div>
                            <div class="form-group">
                                <label>图标</label>
                                <div><img src="{{icon_url}}" /></div>
                            </div>
                            <div class="form-group">
                                <label>链接至</label>
                                <input id="title-link" type="text" class="form-control" value="{{link_url}}">
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div id="third-titles">
                {{#each third_titles}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" class="form-control third-title" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <label>链接至</label>
                            <input type="text" class="form-control third-link" value="{{link_url}}">
                        </div>
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-success" aria-label="Modify Label">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                Submit
                            </button>
                            <button type="button" class="btn btn-danger" aria-label="Remove">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Remove
                            </button>
                        </div> -->
                    </div>
                </div>
                {{/each}}
                </div>
                <!--<button type="button" class="btn btn-primary btn-block" aria-label="Add">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>-->
                <input id="btn-update" type="button" value="提交" class="btn btn-primary" />
                <hr />
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

{{> cms_image_upload_modal}}

<script src="/js/jquery-2.1.4.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/raphael-min.js"></script>
<!--<script src="/js/morris.min.js"></script>-->
<!--<script src="/js/morris-data.js"></script>-->
<script src="/js/sb-admin-2.js"></script>
<script src="/js/cms.js"></script>
<script>
    $(document).ready(function () {
        $($('#side-menu li ul').children('li')[0]).removeClass('active')
    });
    $('#btn-update').on('click', function () {
        var data = {
            'name': $('#title-edit').val(),
            'link_url': $('#title-link').val(),
            'third_titles': [ ],
            'second_id': {{second_id}}
        };
        $('#third-titles > div').each(function (i, e) {
            data['third_titles'].push({
                'name': $(e).find('.third-title').val(),
                'link_url': $(e).find('.third-link').val()
            });
        });
        
        $.ajax({
            'method': 'POST',
            'url': '',
            'data': JSON.stringify(data),
            'dataType': 'json',
            'contentType': 'application/json; charset=utf-8',
            'success': function (data) {
                alert('更新成功!');
                location.reload();
            },
            'error': function (xhr, status, error) {
                alert('Submit failed!'); }
        });
        
    });
</script>

<script src="/js/cms_image_upload.js"></script>
<script>
    $(function () {
        imageUpload({
            'primary_id': {{header_id}},
            'second_id': {{second_id}}
        });
    });
</script>

</body>

</html>
